# =========================
# Python
# =========================

# Virtual environment
backend/venv/
venv/
.venv/


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# Mac system files
.DS_Store


# =========================
# Node / React
# =========================

# Node modules
frontend/node_modules/
node_modules/

# Build output
frontend/build/
frontend/dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite cache
.vite/


# =========================
# IDE / Editor
# =========================

.vscode/
.idea/
